* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette
dark purple: 320A28
Tyrian Purple: 511730
Brandy: 8E443D
Antique Brass: CB9173
Flax: E0D68A
*/

header {
  background-color: #511730;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
}

#timer {
  font-size: 20px;
  padding-right: 15px;
}

body {
  font-family:'Courier New', Courier, monospace;
  color: #511730;
}

.welcome-page, .questions-container {
  height: 100%;
  margin: 80px auto;
  padding: 20px 10px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.welcome-page h1 {
  border-bottom: 2px solid #CB9173;
}

.welcome-page p {
  padding-bottom: 30px;
  font-size: 25px;
}

#description {
  padding: 30px 20px;
  font-size: 20px;
}

#start-btn, .option-answers {
  background-color: #CB9173;
  padding: 15px 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid #511730;
  border-radius: 10px;
}

#start-btn:hover, .option-answers:hover {
  background-color: #8E443D;
}

.questions-container {
  visibility: hidden;
}

#question {
  font-size: 35px;
  padding-bottom: 30px;
}

.option-answers {
  list-style: none;
  margin-bottom: 20px;
}